
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 10%;
    --foreground: 220 20% 98%;

    --card: 240 10% 10%;
    --card-foreground: 220 20% 98%;

    --popover: 240 10% 10%;
    --popover-foreground: 220 20% 98%;

    --primary: 252 94% 67%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 18%;
    --muted-foreground: 240 5% 65%;

    --accent: 334 90% 59%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 240 5% 65%;

    --radius: 0.5rem;

    --sidebar-background: 240 10% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.code-mirror {
  height: 100%;
  min-height: 200px;
  overflow: auto;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 0.5rem;
}

.cm-editor {
  height: 100% !important;
  outline: none !important;
}

.cm-scroller {
  overflow: auto !important;
}

.cm-focused {
  outline: none !important;
}
